@model List<DoAnCnpm.Models.Comment>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>


<style>
    .text-red {
        color: yellow;
    }
    .delete-comment {
        padding: 5px 10px;
        border-radius: 5px;
        background: #004643;
        color: #fff;
        margin: 10px 0 0 0;
    }
    .delete-comment:hover {
        opacity: 0.8;
    }
</style>

@if (Model != null && Model.Count > 0)
{
    <div>
        @foreach (var comment in Model)
        {
            <li class="comment-item">
                <div class="comment-item-head">
                    <span class="comment-name">
                        @comment.UserName
                    </span>

                    <span class="comment-star">
                        @Html.Raw(ConvertToStars(comment.Rate, "text-red"))
                    </span>
                </div>

                <div class="comment-item-content">
                    @comment.CommentMsg
                </div>
                <p>
                    @if (Session["UserId"] != null && (int)Session["UserId"] == comment.UserID)
                    {
                        <button class="delete-comment" data-commentid="@comment.ID" onclick="deleteComment(@comment.ID, this)">Xóa</button>
                    }
                </p>
            </li>
        }
    </div>
}

else
{
    <p>Không có bình luận nào.</p>
}

<script>
    function deleteComment(commentId, button) {
        if (confirm('Bạn có chắc muốn xóa bình luận này?')) {
            $.ajax({
                url: '@Url.Action("DeleteComment", "Product")',
                type: 'POST',
                data: { commentId: commentId },
                success: function (result) {
                    if (result.success) {
                        window.location.reload();
                    } else {
                        alert('Xóa bình luận không thành công.');
                    }
                },
                error: function () {
                    alert('Có lỗi xảy ra khi xóa bình luận.');
                }
            });
        }
    }
</script>



@functions {
    string ConvertToStars(int? rate, string colorClass)
    {
        string stars = "";
        if (rate != null)
        {
            for (int i = 0; i < rate; i++)
            {
                stars += $"<i class='fa fa-star {colorClass}'></i>";
            }
        }
        return stars;
    }
}
