@model DoAnCnpm.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<h2>Chỉnh sửa sản phẩm</h2>

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ProductID)


<table class="table-bordered">
    <tr>
        <td>@Html.LabelFor(model => model.NamePro)</td>
        <td>@Html.EditorFor(model => model.NamePro)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Price)</td>
        <td>@Html.EditorFor(model => model.Price)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.Category)</td>
        <td>
            @{
                @Html.DropDownListFor(model => model.Category, (SelectList)ViewBag.listCategory)
            }
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.DecriptionPro)</td>
        <td>@Html.EditorFor(model => model.DecriptionPro)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Quantity)</td>
        <td>@Html.EditorFor(model => model.Quantity)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.MauXe)</td>
        <td>@Html.EditorFor(model => model.MauXe)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Vitri)</td>
        <td>@Html.EditorFor(model => model.Vitri)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ImagePro)</td>
        <td>
            <img src="@Url.Content(Model.ImagePro)" height="150" width="150" id="previewImg" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="file" name="UploadImage" onchange="ChangeImage(this,document.getElementById('previewImg'))" />
            <input type="submit" value="Tao moi" />
        </td>
    </tr>
</table>
}
