@using DoAnCnpm.Models;
@using PagedList.Mvc;

@model ListProduct

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TrangDatXe.cshtml";
}

<link rel="stylesheet" href="~/Content/mystyle.css" />

@*@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <div class="input-component d-flex">
        <div style="width: 300px; margin-right: 20px" class="input-group input-group-sm mb-3">
            <input name="_name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-prepend">
                <button name="Search" type="submit" style="background-color: #5fcf86; color: #fff;" class="submit-btn btn" id="inputGroup-sizing-sm">Tìm kiếm</button>
            </div>
        </div>

        <div style="width: 300px;" class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span style="background: #5fcf86; color: #fff;" class="input-group-text">Giá từ</span>
            </div>

            <input name="min" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

            <div class="input-group-prepend">
                <span style="background: #5fcf86; color: #fff;" class="input-group-text">đến</span>
            </div>

            <input name="max" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

            <div class="input-group-prepend">
                <button name="Search" type="submit" style="background-color: #5fcf86; color: #fff;" class="submit-btn btn" id="inputGroup-sizing-sm">Tìm kiếm</button>
            </div>
        </div>
    </div>
}*@

<div class="product-cate">
    <div class="product-cate-banner">
        <img src="~/Content/images/slide1.jpg" alt="">
    </div>

    <div class="product-cate-name">
        Xe 2 bánh
    </div>

    <ul class="product-items">
        @foreach (var xe2banh in Model.Xe2Banh)
        {
            <div class="product-item">
                <div class="items-img">
                    <img src="@Url.Content(xe2banh.ImagePro)" alt="">
                </div>

                <div class="item-container">
                    <div class="item-name">
                        @xe2banh.NamePro
                    </div>

                    <div class="item-price">
                        @xe2banh.Price VND
                    </div>

                    <div class="item-info-group">
                        <div class="location">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                            </svg>
                            @xe2banh.Vitri
                        </div>

                        <div class="type">
                            Mẫu xe:
                            <span>@xe2banh.MauXe</span>
                        </div>
                    </div>

                    @Html.ActionLink("Xem chi tiết", "Details", new { id = xe2banh.ProductID }, new { @class = "place-btn" })
                </div>
            </div>
        }

    </ul>
</div>

<div class="product-cate">
    <div class="product-cate-banner">
        <img src="~/Content/images/slide1.jpg" alt="">
    </div>

    <div class="product-cate-name">
        Xe 4 bánh
    </div>

    <ul class="product-items">
        @foreach (var xe2banh in Model.Xe4Banh)
        {
            <div class="product-item">
                <div class="items-img">
                    <img src="@Url.Content(xe2banh.ImagePro)" alt="">
                </div>

                <div class="item-container">
                    <div class="item-name">
                        @xe2banh.NamePro
                    </div>

                    <div class="item-price">
                        @xe2banh.Price VND
                    </div>

                    <div class="item-info-group">
                        <div class="location">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                            </svg>
                            @xe2banh.Vitri
                        </div>

                        <div class="type">
                            Mẫu xe:
                            <span>@xe2banh.MauXe</span>
                        </div>
                    </div>

                    @Html.ActionLink("Xem chi tiết", "Details", new { id = xe2banh.ProductID }, new { @class = "place-btn" })
                </div>
            </div>
        }

    </ul>
</div>

<div class="product-cate">
    <div class="product-cate-banner">
        <img src="~/Content/images/slide1.jpg" alt="">
    </div>

    <div class="product-cate-name">
        Xe khách
    </div>

    <ul class="product-items">
        @foreach (var xe2banh in Model.XeKhach)
        {
            <div class="product-item">
                <div class="items-img">
                    <img src="@Url.Content(xe2banh.ImagePro)" alt="">
                </div>

                <div class="item-container">
                    <div class="item-name">
                        @xe2banh.NamePro
                    </div>

                    <div class="item-price">
                        @xe2banh.Price VND
                    </div>

                    <div class="item-info-group">
                        <div class="location">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                            </svg>
                            @xe2banh.Vitri
                        </div>

                        <div class="type">
                            Mẫu xe:
                            <span>@xe2banh.MauXe</span>
                        </div>
                    </div>

                    @Html.ActionLink("Xem chi tiết", "Details", new { id = xe2banh.ProductID }, new { @class = "place-btn" })
                </div>
            </div>
        }

    </ul>
</div>

<div class="product-cate">
    <div class="product-cate-banner">
        <img src="~/Content/images/slide1.jpg" alt="">
    </div>

    <div class="product-cate-name">
        Xe đạp
    </div>

    <ul class="product-items">
        @foreach (var xe2banh in Model.XeDap)
        {
            <div class="product-item">
                <div class="items-img">
                    <img src="@Url.Content(xe2banh.ImagePro)" alt="">
                </div>

                <div class="item-container">
                    <div class="item-name">
                        @xe2banh.NamePro
                    </div>

                    <div class="item-price">
                        @xe2banh.Price VND
                    </div>

                    <div class="item-info-group">
                        <div class="location">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                            </svg>
                            @xe2banh.Vitri
                        </div>

                        <div class="type">
                            Mẫu xe:
                            <span>@xe2banh.MauXe</span>
                        </div>
                    </div>

                    @Html.ActionLink("Xem chi tiết", "Details", new { id = xe2banh.ProductID }, new { @class = "place-btn" })
                </div>
            </div>
        }

    </ul>
</div>

<div class="product-cate">
    <div class="product-cate-banner">
        <img src="~/Content/images/slide1.jpg" alt="">
    </div>

    <div class="product-cate-name">
        Xe vận chuyển
    </div>

    <ul class="product-items">
        @foreach (var xe2banh in Model.XeVanChuyen)
        {
            <div class="product-item">
                <div class="items-img">
                    <img src="@Url.Content(xe2banh.ImagePro)" alt="">
                </div>

                <div class="item-container">
                    <div class="item-name">
                        @xe2banh.NamePro
                    </div>

                    <div class="item-price">
                        @xe2banh.Price VND
                    </div>

                    <div class="item-info-group">
                        <div class="location">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                            </svg>
                            @xe2banh.Vitri
                        </div>

                        <div class="type">
                            Mẫu xe:
                            <span>@xe2banh.MauXe</span>
                        </div>
                    </div>

                    @Html.ActionLink("Xem chi tiết", "Details", new { id = xe2banh.ProductID }, new { @class = "place-btn" })
                </div>
            </div>
        }

    </ul>
</div>