@model IEnumerable<DoAnCnpm.Models.Product>
@{
    ViewBag.Title = "QuanLyXe";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("QuanLyXe", "Product", FormMethod.Get))
{
    <input type="text" name="_name" />
    <input type="submit" name="Search" />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(models => models.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(models => models.NamePro)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamePro)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }

    </table>
}


