@model DoAnCnpm.Models.Cart

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/TrangDatXe.cshtml";
}

<style>
    #khungtt {
        width: 237px;
        background-color: midnightblue;
        height: 40px;
        border: 1px solid blue;
        padding: 0.5rem;
        border-radius: 5px;
        text-align: center;
    }
</style>
<a href="@Url.Action("Index","Product")">Tiếp tục mua hàng</a>


@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Hình sản phẩm</th>
                <th>Giá</th>
                <th>Ngày thuê</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th>Hành động</th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model.Items)
            {
                decimal total = item.quantity * (decimal)item.product.Price.Value;
                <tr>
                    <td>@Html.DisplayFor(model => item.product.NamePro)</td>
                    <td><img src="@Url.Content(item.product.ImagePro)" height="50" width="50" /></td>
                    <td>@Html.DisplayFor(model => item.product.Price)</td>
                    <td>
                        @using (Html.BeginForm("UpdateCartQuantity", "ShoppingCart"))
                        {
                            <input type="hidden" value="@item.product.ProductID" name="IDProduct" />
                            <input type="text" value="@item.NgayTra.ToString("yyyy-MM-dd")" name="DateTra" class="datepicker" />
                            <input type="number" value="@item.quantity" name="CartQuantity" />
                            if (item.quantity < 0)
                            {
                                <script>
                                    alert("Sản phẩm vượt qua ngày cho phép thuê hoặc bạn chọn ngày thuê âm");
                                </script>
                            }
                            <input type="submit" value="Update" />
                        }
                    </td>
                    <td>@total</td>
                    <td>
                        <a href="/ShoppingCart/RemoveCart/@item.product.ProductID">Xoá</a>
                    </td>
                </tr>
            }
        </tbody>


        <tfoot>
            <tr>
                <td colspan="6" style="text-align:right">Tổng tiền: @Model.Total_money()</td>
            </tr>
            <tr>
                <td>
                    @using (Html.BeginForm("Payment", "Payment"))
                    {
                        <input type="text" value="@Model.Total_money()" name="totalMoney" hidden />

                        <input type="submit" value="Thanh toán bằng VNPAY" class="khungtt" />
                    }
                </td>
            </tr>
            <tr>
                <td style="border-top:none; text-align:center; margin-top:30px">
                    <a href="/shoppingcart/PaymentWithPayPal?" class="khungtt">Thanh toán bằng paypal </a>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="4">
                    @using (Html.BeginForm("ShowCart", "ShoppingCart", FormMethod.Get))
                    {
                        <table>
                            <tr>
                                <td>
                                    &nbsp; Giảm giá: <input type="text" name="vouncher" />
                                    <input type="submit" value="Giảm giá" />
                                </td>
                            </tr>
                            <tr>
                                @if (!string.IsNullOrEmpty(ViewBag.VoucherMessage))
                                {
                                    <td class="alert alert-danger">
                                        @ViewBag.VoucherMessage
                                    </td>
                                }
                            </tr>
                        </table>
                    }
      
                    @using (Html.BeginForm("CheckOut", "ShoppingCart"))
                    {
                        <table style="border-collapse:separate;border-spacing:5px;">

                            <!-- Code Customer -->
                            <tr>
                                <td>Code Customer:</td>
                                <td>
                                    <input type="number" name="CodeCustomer" required />
                                </td>
                            </tr>

                            <!-- Address Delivery -->
                            <tr>
                                <td>Địa chỉ giao hàng</td>
                                <td>
                                    <input type="text" name="AddressDelivery" required />
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="Thanh toán" class="khungtt" />
                                </td>                           
                         </tr>
                            <tr>
                              
                            </tr>

                        </table>
                    }
                </td>
             
            </tr>
        </tfoot>
    </table>
}

else
{
    @Html.Partial("EmptyCart")
}




<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


    <script>

        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "yy/mm/dd",
                changeMonth: true,
                changeYear: true,
                yearRange : "-1:+1",
                showOn: "both",
                buttonText: "<i class='fa fa-calendar'></i>"
            });
        });

    </script>

}