<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>

    <!-- Link Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Link File CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <img src="~/Content/img/logo-full.png" class="logo" alt="">
            <div class="menu" style="font-weight:bold">
                <a href="@Url.Action("TrangHome", "Home")">Trang chủ</a>
                <a href="@Url.Action("Index", "Product")">Xem xe</a>
                <a href="@Url.Action("Register", "Login")">Đăng ký</a>
                <a href="@Url.Action("Authen", "Login")">Đăng nhập</a>
                <a href="#">Đặc biệt</a>
                <a href="#">Liên hệ</a>
            </div>

            <div class="social">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </nav>
    </header>

    <div class="hero">

        <div class="text">
            <h4>MẠNH MẼ, SỨC MẠNH VÀ</h4>
            <h1>Đầy<br> <span>Nội lực</span></h1>
            <p>"Sự điềm tĩnh thực, Sức mạnh thực, Hiệu suất thực"</p>
            <a href="#" class="btn">Đăng nhập ngay</a>
            <a href="#" class="btn">Đăng ký ngay</a>
        </div>
    </div>

    <script>
        let heroBg = document.querySelector('.hero');

        setInterval(() => {
            heroBg.style.backgroundImage = "url('/Content/img/nen_xe.jpg')"

            setTimeout(() => {
                heroBg.style.backgroundImage = "url('/Content/img/nen_xe_sang.jpg')"
            }, 1000);
        }, 2200);

    </script>
    <section class="body">
        <div class="promo-section space sec">
            <div class="m-container">
                <h2>Chương Trình Khuyến Mãi</h2>
                <h5 class="title">Nhận nhiều ưu đãi hấp dẫn từ Mioto</h5>
            </div>
            <div class="m-container">
                <div class="swiper swiper-promo swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                    <div class="swiper-wrapper" id="swiper-wrapper-a4d632e7fc1eee63" aria-live="polite" style="transform: translate3d(-524px, 0px, 0px); transition-duration: 0ms;">
                        <div class="swiper-slide" style="width: 252px; margin-right: 10px;" role="group" aria-label="1 / 7">
                            <div class="fix-img">
                                <img loading="lazy" src="https://n1-cstg.mioto.vn/g/2023/09/02/10/Thue_xe_oto_tu_lai_tphcm.jpg">
                            </div>
                        </div
                        ><div class="swiper-slide swiper-slide-prev" style="width: 252px; margin-right: 10px;" role="group" aria-label="2 / 7">
                            <div class="fix-img"><img loading="lazy" src="https://n1-cstg.mioto.vn/g/2023/09/02/10/Thue_xe_oto_tu_lai_hanoi.jpg">
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" style="width: 252px; margin-right: 10px;" role="group" aria-label="3 / 7">
                            <div class="fix-img"><img loading="lazy" src="https://n1-cstg.mioto.vn/g/2023/08/20/15/thue_xe_tu_lai_7_cho_tphcm.jpg">
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-next" style="width: 252px; margin-right: 10px;" role="group" aria-label="4 / 7">
                            <div class="fix-img">
                                <img loading="lazy" src="https://n1-cstg.mioto.vn/g/2023/09/02/12/dich_vu_thue_xe_tu_lai_tphcm.jpg">
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 252px; margin-right: 10px;" role="group" aria-label="5 / 7">
                            <div class="fix-img">
                                <img loading="lazy" src="https://n1-cstg.mioto.vn/g/2023/09/04/12/thue_xe_tu_lai_4_cho_tphcm.jpg">
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 252px; margin-right: 10px;" role="group" aria-label="6 / 7">
                            <div class="fix-img">
                                <img loading="lazy" src="https://n1-cstg.mioto.vn/g/2023/09/04/09/thue_xe_co_tai_xe_tphcm.jpg">
                            </div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="7 / 7" style="width: 252px; margin-right: 10px;">
                            <div class="fix-img">
                                <img loading="lazy" src="https://n1-cstg.mioto.vn/g/2023/09/23/08/E1M6GWM9.jpg">
                            </div>
                        </div>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true">

                    </span>
                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
        <div class="features-section space sec">
            <div class="m-container">
                <h2>Ưu Điểm Của&nbsp;Mioto</h2>
                <h5 class="title">Những tính năng giúp bạn dễ dàng hơn khi thuê xe trên&nbsp;Mioto.</h5>
                <div class="features-container">
                    <div class="features-item">
                        <div class="features-item__img">
                            <img loading="lazy" src="~/Content/img/dich_vu_thue_xe_tu_lai_hanoi.f177339e.svg" alt="dich_vu_thue_xe_tu_lai_hanoi">
                        </div>
                        <h5>An tâm đặt xe</h5>
                        <p>Không tính phí huỷ chuyến trong vòng 1h sau khi đặt cọc. Hoàn cọc và bồi thường 100% nếu chủ xe huỷ chuyến trong vòng 7 ngày trước chuyến&nbsp;đi.</p>
                    </div>
                    <div class="features-item">
                        <div class="features-item__img">
                            <img loading="lazy" src="~/Content/img/cho_thue_xe_tu_lai_tphcm.1e7cb1c7.svg" alt="cho_thue_xe_tu_lai_tphcm">
                        </div>
                        <h5>Thủ tục đơn giản</h5>
                        <p>Chỉ cần có CCCD gắn chip (Hoặc Passport) &amp; Giấy phép lái xe là bạn đã đủ điều kiện thuê xe trên&nbsp;Mioto.</p>
                    </div>
                    <div class="features-item">
                        <div class="features-item__img">
                            <img loading="lazy" src="~/Content/img/cho_thue_xe_tu_lai_hanoi.735438af.svg" alt="cho_thue_xe_tu_lai_hanoi">
                        </div>
                        <h5>Thanh toán dễ dàng</h5>
                        <p>Đa dạng hình thức thanh toán: ATM, thẻ Visa &amp; Ví điện tử (Momo, VnPay, ZaloPay).</p>
                    </div>
                    <div class="features-item">
                        <div class="features-item__img">
                            <img loading="lazy" src="~/Content/img/thue_xe_tu_lai_gia_re_hcm.ffd1319e.svg" alt="thue_xe_tu_lai_gia_re_hcm">
                        </div>
                        <h5>Giao xe tận nơi</h5>
                        <p>Bạn có thể lựa chọn giao xe tận nhà/sân bay... Phí tiết kiệm chỉ từ 15k/km.</p>
                    </div>
                    <div class="features-item">
                        <div class="features-item__img">
                            <img loading="lazy" src="~/Content/img/thue_xe_tu_lai_gia_re_hanoi.4035317e.svg" alt="thue_xe_tu_lai_gia_re_hanoi">
                        </div>
                        <h5>Dòng xe đa dạng</h5>
                        <p>Hơn 100 dòng xe cho bạn tuỳ ý lựa chọn: Mini, Sedan, CUV, SUV, MPV, Bán&nbsp;tải.</p>
                    </div>
                    <div class="features-item">
                        <div class="features-item__img">
                            <img loading="lazy" src="~/Content/img/thue_xe_co_tai_xe.a6f7dc54.svg" alt="thue_xe_co_tai_xe">
                        </div>
                        <h5>Lái xe an toàn</h5>
                        <p>Vững tay lái với gói bảo hiểm thuê xe từ nhà bảo hiểm MIC&nbsp;&amp;&nbsp;VNI.</p>
                    </div>
                </div>

                <div class="swiper-pagination pagi-features swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic" style="width: 80px;">
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main" style="left: 32px;"></span>
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active-next" style="left: 32px;"></span>
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next" style="left: 32px;"></span>
                    <span class="swiper-pagination-bullet" style="left: 32px;"></span>
                    <span class="swiper-pagination-bullet" style="left: 32px;"></span>
                    <span class="swiper-pagination-bullet" style="left: 32px;"></span>
                </div>
            </div>
        </div>
        <div class="ins-partner-section space sec">
            <div class="m-container">
                <h2 class="hehe">Hành Trình Của Bạn Luôn Được Bảo Vệ</h2>
            </div>
            <div class="m-container">
                <div class="swiper swiper-insurance swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                        <div class="swiper-slide swiper-slide-active" style="width: 254px; margin-right: 32px;">
                            <img loading="lazy" src="~/Content/img/global-care.e4fc7ef6.jpg">
                        </div>
                        <div class="swiper-slide swiper-slide-next" style="width: 254px; margin-right: 32px;">
                            <img loading="lazy" src="~/Content/img/mic.ad48f066.jpg">
                        </div><div class="swiper-slide" style="width: 254px; margin-right: 32px;">
                            <img loading="lazy" src="~/Content/img/vni.d1b15e7a.jpg">
                        </div>
                        <div class="swiper-slide" style="width: 254px; margin-right: 32px;">
                            <img loading="lazy" src="~/Content/img/pvi.cfd4805b.jpg">
                        </div>
                    </div>
                    <div class="swiper-pagination pagi-insurance swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic" style="width: 90px;">
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main" style="left: 18px;"></span>
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active-next" style="left: 18px;"></span>
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next" style="left: 18px;"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-section space sec">
            <div class="m-container">
                <h2 class="textAlign-center">Dịch Vụ Của&nbsp;Mioto</h2>
                <div class="service-container">
                    <div class="service-item">
                        <div class="service-item__img">
                            <img loading="lazy" src="~/Content/img/gia_thue_xe_tu_lai_4cho_tai_hanoi.e6ebc385.png" alt="gia_thue_xe_tu_lai_4cho_tai_hanoi">
                            <div class="content">
                                <h3>Xe đã sẵn sàng.<br>Bắt đầu hành trình ngay!</h3>
                                <p>Tự tay cầm lái chiếc xe mà bạn yêu thích <br> cho hành trình thêm hứng khởi.</p>

                                <a class="btn btn--l btn-primary" href="/find/filter?address=Hồ Chí Minh&amp;loc=MTAuOC0xMDYuNw==">Thuê xe tự lái</a>
                            </div>
                        </div>
                    </div>
                    <div class="service-item right">
                        <div class="service-item__img">
                            <img loading="lazy" src="~/Content/img/thue_xe_oto_tu_lai_va_co_tai.9df79c9f.png" alt="thue_xe_oto_tu_lai_va_co_tai">
                            <div class="content">
                                <h3>Tài xế của bạn đã đến!</h3>
                                <p>Chuyến đi thêm thú vị <br> cùng các bác tài 5* trên Mioto.</p>

                                <a class="btn btn-primary btn--l" href="/withdriver/find/filter?address=Hồ Chí Minh&amp;isCityTourMode=true&amp;selectHour=4">Thuê xe có tài xế</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="tutorial-section space sec">
            <div class="m-container">
                <h2>Hướng Dẫn Thuê Xe </h2>
                <h5 class="title">Chỉ với 4 bước đơn giản để trải nghiệm thuê xe Mioto một cách nhanh&nbsp;chóng</h5>
                <div class="tutorial-container">
                    <div class="tutorial-item">
                        <div class="tutorial-item__img">
                            <img loading="lazy" src="~/Content/img/cho_thue_xe_co_taigia_re_tphcm.12455eba.svg" alt="cho_thue_xe_co_taigia_re_tphcm">
                        </div>
                        <div class="tutorial-item__content">
                            <h5 class="text-primary">01</h5>

                            <h5>Đặt xe trên<br>app/web Mioto</h5>

                        </div>
                    </div>
                    <div class="tutorial-item">
                        <div class="tutorial-item__img">
                            <img loading="lazy" src="~/Content/img/gia_thue_xe_7cho_tai_tphcm.9455973a.svg" alt="gia_thue_xe_7cho_tai_tphcm">
                        </div>
                        <div class="tutorial-item__content">
                            <h5 class="text-primary">02</h5>
                            <h5>Nhận xe</h5>
                        </div>
                    </div>
                    <div class="tutorial-item">
                        <div class="tutorial-item__img">
                            <img loading="lazy" src="~/Content/img/gia_thue_xe_7cho_tai_hanoi.0834bed8.svg" alt="gia_thue_xe_7cho_tai_hanoi">
                        </div>
                        <div class="tutorial-item__content">
                            <h5 class="text-primary">03</h5>
                            <h5>Bắt đầu<br>hành trình</h5>
                        </div>
                    </div>
                    <div class="tutorial-item">
                        <div class="tutorial-item__img">
                            <img loading="lazy" src="~/Content/img/gia_thue_xe_4cho_tai_tphcm.9dcd3930.svg" alt="gia_thue_xe_4cho_tai_tphcm">
                        </div>
                        <div class="tutorial-item__content">
                            <h5 class="text-primary">04</h5>
                            <h5>Trả xe &amp; kết thúc<br>chuyến đi</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="explorer-section">
            <div class="m-container">
                <div class="explorer-container">
                    <div class="explorer-item">
                        <div class="explorer-item__img">

                            <img loading="lazy" src="~/Content/img/thue_xe_co_tai_xe_tphcm_gia_re.b6cd9996.png" alt="thue_xe_co_tai_xe_tphcm_gia_re">
                        </div>
                        <div class="explorer-item__content">
                            <div class="wrap-svg">
                                <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M64.7367 45.3824L53.7663 17.3473C53.1936 15.9196 51.8344 15 50.2977 15H39.9565C38.7062 15 37.5447 15.6211 36.8509 16.6577L32.4991 23.1673L28.1472 16.6617C27.4535 15.6211 26.2919 15 25.0416 15H14.7004C13.1637 15 11.8005 15.9236 11.2238 17.3635L0.269489 45.3662C-0.194333 46.5197 -0.0531702 47.8225 0.64458 48.8509C1.3383 49.8794 2.49584 50.4925 3.73807 50.4925H3.7421L24.7109 50.4642C26.3686 50.4642 27.8447 49.347 28.3045 47.7378L32.4991 32.597L36.6977 47.7539C37.1534 49.347 38.6296 50.4602 40.2832 50.4642L61.2561 50.4925H61.2601C62.5023 50.4925 63.6558 49.8794 64.3536 48.8509C65.0513 47.8225 65.1925 46.5197 64.7367 45.3824ZM24.1785 46.0357L4.74638 46.064L15.1683 19.4285H24.6665L29.5346 26.7044L24.1785 46.0357ZM40.8156 46.0357L35.4595 26.7044L40.3276 19.4285H49.8259L60.2477 46.064L40.8156 46.0357Z" fill="#5FCF86">

                                    </path>
                                </svg>
                            </div>

                            <h2>Bạn muốn biết thêm<br>về Mioto?</h2>

                            <p>Mioto kết nối khách hàng có nhu cầu thuê xe với hàng ngàn chủ xe ô tô ở TPHCM, Hà Nội &amp; các tỉnh thành khác. Mioto hướng đến việc xây dựng cộng đồng người dùng ô tô văn minh &amp; uy tín tại Việt Nam.</p>

                            <div class="wrap-btn">

                                <a class="btn btn--m btn-primary" href="/aboutus">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="m-container">
            <div class="footer-about">
                <div class="footer-info">
                    <a href="/" class="wrap-svg logo">
                        <img loading="lazy" src="~/Content/img/logo-full.ea382559.png">
                    </a>
                    <div class="phone-mail">
                        <a class="item" href="tel:19009217">
                            <p class="main">1900 9217</p>
                            <p>Tổng đài hỗ trợ: 7AM - 10PM</p>
                        </a>
                        <a class="item" href="mailto:contact@mioto.vn">
                            <p class="main">contact@mioto.vn</p>
                            <p>Gửi mail cho Mioto</p>
                        </a>
                    </div>
                    <div class="footer-contact">
                        <a class="wrap-svg" target="_blank" href="https://www.facebook.com/mioto.vn/">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.94 21.2501V14.1601H9.5V11.4301H11.94V9.43012C11.94 8.31012 12.22 7.47012 12.86 6.83012C13.5 6.19012 14.34 5.87012 15.42 5.87012C16.22 5.87012 16.94 5.91012 17.5 5.99012V8.39012H16.06C15.54 8.39012 15.18 8.51012 14.98 8.75012C14.82 8.99012 14.74 9.31012 14.74 9.71012V11.4301H17.51L17.15 14.1601H14.75V21.2501" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M17.14 21.25H6.86C4.59 21.25 2.75 19.41 2.75 17.14V6.86C2.75 4.59 4.59 2.75 6.86 2.75H17.14C19.41 2.75 21.25 4.59 21.25 6.86V17.14C21.25 19.41 19.41 21.25 17.14 21.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                        <a class="wrap-svg" target="_blank" href="https://www.tiktok.com/miotovn">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.75999 12.69C8.27999 12.69 7.04999 13.92 7.04999 15.4C7.04999 16.88 8.27999 18.11 9.75999 18.11C11.24 18.11 12.47 16.88 12.47 15.4V2.75H15.65C15.65 2.79 15.65 2.79 15.65 2.82C15.65 3.07 15.65 3.33 15.72 3.58C15.94 4.77 16.66 5.82 17.67 6.47C18.36 6.94 19.19 7.19 20.05 7.19C20.05 7.19 20.05 7.19 20.09 7.19V10.33H20.05C18.39 10.33 16.87 9.82 15.64 8.92V15.39C15.64 18.64 13 21.24 9.74999 21.24C6.49999 21.24 3.89999 18.64 3.89999 15.39C3.89999 12.14 6.49999 9.5 9.74999 9.5V12.69H9.75999Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                        <a class="wrap-svg" target="_blank" href="https://zalo.me/1377158618768832739">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <mask id="path-1-outside-1_6394_301594" maskUnits="userSpaceOnUse" x="0.919998" y="0.919922" width="22" height="22" fill="black">
                                    <rect fill="white" x="0.919998" y="0.919922" width="22" height="22"></rect>
                                    <path d="M4.32 1.91992C3.00023 1.91992 1.92 3.00015 1.92 4.31992V19.6799C1.92 20.9997 3.00023 22.0799 4.32 22.0799H19.68C20.999822.0799 22.08 20.9997 22.08 19.6799V4.31992C22.08 3.00015 20.9998 1.91992 19.68 1.91992H4.32ZM4.32 2.87992H7.47656C5.81666 4.60701 4.8 6.87526 4.8 9.35992C4.8 11.9334 5.88871 14.2792 7.65562 16.0265C7.5914 15.9653 7.67454 16.0717 7.68281 16.2599C7.69134 16.4542 7.66209 16.7212 7.58344 16.9855C7.42613 17.5143 7.09711 18.0017 6.56812 18.178C6.46765 18.2115 6.38107 18.2773 6.32187 18.3651C6.26266 18.4529 6.23416 18.5578 6.24079 18.6635C6.24742 18.7692 6.28882 18.8698 6.35854 18.9495C6.42826 19.0292 6.52238 19.0836 6.62625 19.1043C7.95091 19.3692 8.8879 18.9704 9.57844 18.6534C10.269 18.3363 10.6421 18.123 11.34 18.4049L11.3456 18.4068C12.6523 18.9176 14.091 19.1999 15.6 19.1999C17.6147 19.1999 19.503 18.6965 21.12 17.819V19.6799C21.12 20.4808 20.4809 21.1199 19.68 21.1199H4.32C3.51913 21.1199 2.88 20.4808 2.88 19.6799V4.31992C2.88 3.51905 3.51913 2.87992 4.32 2.87992ZM8.87812 2.87992H19.68C20.4809 2.87992 21.12 3.51905 21.12 4.31992V16.7062C19.5489 17.67 17.6518 18.2399 15.6 18.2399C14.2129 18.2399 12.8945 17.9804 11.7 17.5143C10.6857 17.1046 9.85955 17.4677 9.17812 17.7805C8.80908 17.95 8.44498 18.0908 8.03344 18.1687C8.23704 17.8784 8.4112 17.5683 8.50312 17.2593C8.61173 16.8942 8.65588 16.5367 8.64187 16.2177C8.62791 15.8998 8.60013 15.6087 8.33156 15.3449L8.33062 15.344C6.72812 13.7593 5.76 11.6633 5.76 9.35992C5.76 6.80508 6.95336 4.50598 8.87812 2.87992ZM15.8325 7.19336C15.7054 7.19535 15.5842 7.2477 15.4956 7.33892C15.407 7.43014 15.3583 7.55278 15.36 7.67992V11.9999C15.3591 12.0635 15.3708 12.1267 15.3946 12.1857C15.4183 12.2447 15.4535 12.2984 15.4982 12.3437C15.5428 12.389 15.596 12.425 15.6547 12.4496C15.7134 12.4741 15.7764 12.4868 15.84 12.4868C15.9036 12.4868 15.9666 12.4741 16.0253 12.4496C16.084 12.425 16.1372 12.389 16.1818 12.3437C16.2265 12.2984 16.2617 12.2447 16.2854 12.1857C16.3091 12.1267 16.3209 12.0635 16.32 11.9999V7.67992C16.3209 7.6157 16.3089 7.55196 16.2847 7.49247C16.2605 7.43298 16.2246 7.37895 16.1791 7.33358C16.1337 7.28821 16.0796 7.25242 16.02 7.22833C15.9605 7.20425 15.8967 7.19236 15.8325 7.19336ZM8.64 7.67992C8.57639 7.67902 8.51324 7.69077 8.45422 7.71449C8.39519 7.73821 8.34147 7.77342 8.29617 7.81808C8.25088 7.86275 8.21491 7.91597 8.19036 7.97465C8.1658 8.03333 8.15316 8.09631 8.15316 8.15992C8.15316 8.22353 8.1658 8.28651 8.19036 8.3452C8.21491 8.40388 8.25088 8.4571 8.29617 8.50176C8.34147 8.54642 8.39519 8.58163 8.45422 8.60535C8.51324 8.62907 8.57639 8.64082 8.64 8.63992H10.1747L8.23312 11.7459C8.18782 11.8185 8.16277 11.9019 8.16057 11.9875C8.15837 12.0731 8.17909 12.1577 8.22059 12.2326C8.2621 12.3075 8.32287 12.3699 8.39661 12.4134C8.47036 12.4569 8.55439 12.4798 8.64 12.4799H11.04C11.1036 12.4808 11.1668 12.4691 11.2258 12.4454C11.2848 12.4216 11.3385 12.3864 11.3838 12.3418C11.4291 12.2971 11.4651 12.2439 11.4896 12.1852C11.5142 12.1265 11.5268 12.0635 11.5268 11.9999C11.5268 11.9363 11.5142 11.8733 11.4896 11.8146C11.4651 11.756 11.4291 11.7027 11.3838 11.6581C11.3385 11.6134 11.2848 11.5782 11.2258 11.5545C11.1668 11.5308 11.1036 11.519 11.04 11.5199H9.50531L11.4469 8.41398C11.4922 8.34134 11.5172 8.25791 11.5194 8.17232C11.5216 8.08674 11.5009 8.00213 11.4594 7.92725C11.4179 7.85237 11.3571 7.78995 11.2834 7.74647C11.2096 7.70298 11.1256 7.68 11.04 7.67992H8.64ZM14.3925 9.11336C14.3138 9.11475 14.2366 9.13549 14.1677 9.17374C14.0989 9.212 14.0406 9.2666 13.9978 9.33273C13.759 9.20158 13.4897 9.11992 13.2 9.11992C12.2778 9.11992 11.52 9.87777 11.52 10.7999C11.52 11.7221 12.2778 12.4799 13.2 12.4799C13.4894 12.4799 13.7582 12.398 13.9969 12.2671C14.0534 12.3546 14.1369 12.4213 14.2347 12.4572C14.3325 12.493 14.4393 12.4961 14.539 12.4659C14.6387 12.4358 14.7259 12.374 14.7874 12.2899C14.8489 12.2059 14.8814 12.1041 14.88 11.9999V10.7999V9.59992C14.8809 9.5357 14.8689 9.47196 14.8447 9.41247C14.8205 9.35298 14.7846 9.29895 14.7391 9.25358C14.6937 9.20821 14.6396 9.17242 14.58 9.14833C14.5205 9.12425 14.4567 9.11236 14.3925 9.11336ZM18.48 9.11992C17.5578 9.11992 16.8 9.87777 16.8 10.7999C16.8 11.7221 17.5578 12.4799 18.48 12.4799C19.4022 12.4799 20.16 11.7221 20.16 10.7999C20.16 9.87777 19.4022 9.11992 18.48 9.11992ZM13.2 10.0799C13.6033 10.0799 13.92 10.3966 13.92 10.7999C13.92 11.2033 13.6033 11.5199 13.2 11.5199C12.7967 11.5199 12.48 11.2033 12.48 10.7999C12.48 10.3966 12.7967 10.0799 13.2 10.0799ZM18.48 10.0799C18.8833 10.0799 19.2 10.3966 19.2 10.7999C19.2 11.2033 18.8833 11.5199 18.48 11.5199C18.0767 11.5199 17.76 11.2033 17.76 10.7999C17.76 10.3966 18.0767 10.0799 18.48 10.0799Z"></path>
                                </mask>
                                <path d="M4.32 1.91992C3.00023 1.91992 1.92 3.00015 1.92 4.31992V19.6799C1.92 20.9997 3.00023 22.0799 4.32 22.0799H19.68C20.9998 22.0799 22.08 20.9997 22.08 19.6799V4.31992C22.08 3.00015 20.9998 1.91992 19.68 1.91992H4.32ZM4.32 2.87992H7.47656C5.81666 4.60701 4.8 6.87526 4.8 9.35992C4.8 11.9334 5.88871 14.2792 7.65562 16.0265C7.5914 15.9653 7.67454 16.0717 7.68281 16.2599C7.69134 16.4542 7.66209 16.7212 7.58344 16.9855C7.42613 17.5143 7.09711 18.0017 6.56812 18.178C6.46765 18.2115 6.38107 18.2773 6.32187 18.3651C6.26266 18.4529 6.23416 18.5578 6.24079 18.6635C6.24742 18.7692 6.28882 18.8698 6.35854 18.9495C6.42826 19.0292 6.52238 19.0836 6.62625 19.1043C7.95091 19.3692 8.8879 18.9704 9.57844 18.6534C10.269 18.3363 10.6421 18.123 11.34 18.4049L11.3456 18.4068C12.6523 18.9176 14.091 19.1999 15.6 19.1999C17.6147 19.1999 19.503 18.6965 21.12 17.819V19.6799C21.12 20.4808 20.4809 21.1199 19.68 21.1199H4.32C3.51913 21.1199 2.88 20.4808 2.88 19.6799V4.31992C2.88 3.51905 3.51913 2.87992 4.32 2.87992ZM8.87812 2.87992H19.68C20.4809 2.87992 21.12 3.51905 21.12 4.31992V16.7062C19.5489 17.67 17.6518 18.2399 15.6 18.2399C14.2129 18.2399 12.8945 17.9804 11.7 17.5143C10.6857 17.1046 9.85955 17.4677 9.17812 17.7805C8.80908 17.95 8.44498 18.0908 8.03344 18.1687C8.23704 17.8784 8.4112 17.5683 8.50312 17.2593C8.61173 16.8942 8.65588 16.5367 8.64187 16.2177C8.62791 15.8998 8.60013 15.6087 8.33156 15.3449L8.33062 15.344C6.72812 13.7593 5.76 11.6633 5.76 9.35992C5.76 6.80508 6.95336 4.50598 8.87812 2.87992ZM15.8325 7.19336C15.7054 7.19535 15.5842 7.2477 15.4956 7.33892C15.407 7.43014 15.3583 7.55278 15.36 7.67992V11.9999C15.3591 12.0635 15.3708 12.1267 15.3946 12.1857C15.4183 12.2447 15.4535 12.2984 15.4982 12.3437C15.5428 12.389 15.596 12.425 15.6547 12.4496C15.7134 12.4741 15.7764 12.4868 15.84 12.4868C15.9036 12.4868 15.9666 12.4741 16.0253 12.4496C16.084 12.425 16.1372 12.389 16.1818 12.3437C16.2265 12.2984 16.2617 12.2447 16.2854 12.1857C16.3091 12.1267 16.3209 12.0635 16.32 11.9999V7.67992C16.3209 7.6157 16.3089 7.55196 16.2847 7.49247C16.2605 7.43298 16.2246 7.37895 16.1791 7.33358C16.1337 7.28821 16.0796 7.25242 16.02 7.22833C15.9605 7.20425 15.8967 7.19236 15.8325 7.19336ZM8.64 7.67992C8.57639 7.67902 8.51324 7.69077 8.45422 7.71449C8.39519 7.73821 8.34147 7.77342 8.29617 7.81808C8.25088 7.86275 8.21491 7.91597 8.19036 7.97465C8.1658 8.03333 8.15316 8.09631 8.15316 8.15992C8.15316 8.22353 8.1658 8.28651 8.19036 8.3452C8.21491 8.40388 8.25088 8.4571 8.29617 8.50176C8.34147 8.54642 8.39519 8.58163 8.45422 8.60535C8.51324 8.62907 8.57639 8.64082 8.64 8.63992H10.1747L8.23312 11.7459C8.18782 11.8185 8.16277 11.9019 8.16057 11.9875C8.15837 12.0731 8.17909 12.1577 8.22059 12.2326C8.2621 12.3075 8.32287 12.3699 8.39661 12.4134C8.47036 12.4569 8.55439 12.4798 8.64 12.4799H11.04C11.1036 12.4808 11.1668 12.4691 11.2258 12.4454C11.2848 12.4216 11.3385 12.3864 11.3838 12.3418C11.4291 12.2971 11.4651 12.2439 11.4896 12.1852C11.5142 12.1265 11.5268 12.0635 11.5268 11.9999C11.5268 11.9363 11.5142 11.8733 11.4896 11.8146C11.4651 11.756 11.4291 11.7027 11.3838 11.6581C11.3385 11.6134 11.2848 11.5782 11.2258 11.5545C11.1668 11.5308 11.1036 11.519 11.04 11.5199H9.50531L11.4469 8.41398C11.4922 8.34134 11.5172 8.25791 11.5194 8.17232C11.5216 8.08674 11.5009 8.00213 11.4594 7.92725C11.4179 7.85237 11.3571 7.78995 11.2834 7.74647C11.2096 7.70298 11.1256 7.68 11.04 7.67992H8.64ZM14.3925 9.11336C14.3138 9.11475 14.2366 9.13549 14.1677 9.17374C14.0989 9.212 14.0406 9.2666 13.9978 9.33273C13.759 9.20158 13.4897 9.11992 13.2 9.11992C12.2778 9.11992 11.52 9.87777 11.52 10.7999C11.52 11.7221 12.2778 12.4799 13.2 12.4799C13.4894 12.4799 13.7582 12.398 13.9969 12.2671C14.0534 12.3546 14.1369 12.4213 14.2347 12.4572C14.3325 12.493 14.4393 12.4961 14.539 12.4659C14.6387 12.4358 14.7259 12.374 14.7874 12.2899C14.8489 12.2059 14.8814 12.1041 14.88 11.9999V10.7999V9.59992C14.8809 9.5357 14.8689 9.47196 14.8447 9.41247C14.8205 9.35298 14.7846 9.29895 14.7391 9.25358C14.6937 9.20821 14.6396 9.17242 14.58 9.14833C14.5205 9.12425 14.4567 9.11236 14.3925 9.11336ZM18.48 9.11992C17.5578 9.11992 16.8 9.87777 16.8 10.7999C16.8 11.7221 17.5578 12.4799 18.48 12.4799C19.4022 12.4799 20.16 11.7221 20.16 10.7999C20.16 9.87777 19.4022 9.11992 18.48 9.11992ZM13.2 10.0799C13.6033 10.0799 13.92 10.3966 13.92 10.7999C13.92 11.2033 13.6033 11.5199 13.2 11.5199C12.7967 11.5199 12.48 11.2033 12.48 10.7999C12.48 10.3966 12.7967 10.0799 13.2 10.0799ZM18.48 10.0799C18.8833 10.0799 19.2 10.3966 19.2 10.7999C19.2 11.2033 18.8833 11.5199 18.48 11.5199C18.0767 11.5199 17.76 11.2033 17.76 10.7999C17.76 10.3966 18.0767 10.0799 18.48 10.0799Z" fill="black"></path>
                                <path d="M4.32 1.91992C3.00023 1.91992 1.92 3.00015 1.92 4.31992V19.6799C1.92 20.9997 3.00023 22.0799 4.32 22.0799H19.68C20.9998 22.0799 22.08 20.9997 22.08 19.6799V4.31992C22.08 3.00015 20.9998 1.91992 19.68 1.91992H4.32ZM4.32 2.87992H7.47656C5.81666 4.60701 4.8 6.87526 4.8 9.35992C4.8 11.9334 5.88871 14.2792 7.65562 16.0265C7.5914 15.9653 7.67454 16.0717 7.68281 16.2599C7.69134 16.4542 7.66209 16.7212 7.58344 16.9855C7.42613 17.5143 7.09711 18.0017 6.56812 18.178C6.46765 18.2115 6.38107 18.2773 6.32187 18.3651C6.26266 18.4529 6.23416 18.5578 6.24079 18.6635C6.24742 18.7692 6.28882 18.8698 6.35854 18.9495C6.42826 19.0292 6.52238 19.0836 6.62625 19.1043C7.95091 19.3692 8.8879 18.9704 9.57844 18.6534C10.269 18.3363 10.6421 18.123 11.34 18.4049L11.3456 18.4068C12.6523 18.9176 14.091 19.1999 15.6 19.1999C17.6147 19.1999 19.503 18.6965 21.12 17.819V19.6799C21.12 20.4808 20.4809 21.1199 19.68 21.1199H4.32C3.51913 21.1199 2.88 20.4808 2.88 19.6799V4.31992C2.88 3.51905 3.51913 2.87992 4.32 2.87992ZM8.87812 2.87992H19.68C20.4809 2.87992 21.12 3.51905 21.12 4.31992V16.7062C19.5489 17.67 17.6518 18.2399 15.6 18.2399C14.2129 18.2399 12.8945 17.9804 11.7 17.5143C10.6857 17.1046 9.85955 17.4677 9.17812 17.7805C8.80908 17.95 8.44498 18.0908 8.03344 18.1687C8.23704 17.8784 8.4112 17.5683 8.50312 17.2593C8.61173 16.8942 8.65588 16.5367 8.64187 16.2177C8.62791 15.8998 8.60013 15.6087 8.33156 15.3449L8.33062 15.344C6.72812 13.7593 5.76 11.6633 5.76 9.35992C5.76 6.80508 6.95336 4.50598 8.87812 2.87992ZM15.8325 7.19336C15.7054 7.19535 15.5842 7.2477 15.4956 7.33892C15.407 7.43014 15.3583 7.55278 15.36 7.67992V11.9999C15.3591 12.0635 15.3708 12.1267 15.3946 12.1857C15.4183 12.2447 15.4535 12.2984 15.4982 12.3437C15.5428 12.389 15.596 12.425 15.6547 12.4496C15.7134 12.4741 15.7764 12.4868 15.84 12.4868C15.9036 12.4868 15.9666 12.4741 16.0253 12.4496C16.084 12.425 16.1372 12.389 16.1818 12.3437C16.2265 12.2984 16.2617 12.2447 16.2854 12.1857C16.3091 12.1267 16.3209 12.0635 16.32 11.9999V7.67992C16.3209 7.6157 16.3089 7.55196 16.2847 7.49247C16.2605 7.43298 16.2246 7.37895 16.1791 7.33358C16.1337 7.28821 16.0796 7.25242 16.02 7.22833C15.9605 7.20425 15.8967 7.19236 15.8325 7.19336ZM8.64 7.67992C8.57639 7.67902 8.51324 7.69077 8.45422 7.71449C8.39519 7.73821 8.34147 7.77342 8.29617 7.81808C8.25088 7.86275 8.21491 7.91597 8.19036 7.97465C8.1658 8.03333 8.15316 8.09631 8.15316 8.15992C8.15316 8.22353 8.1658 8.28651 8.19036 8.3452C8.21491 8.40388 8.25088 8.4571 8.29617 8.50176C8.34147 8.54642 8.39519 8.58163 8.45422 8.60535C8.51324 8.62907 8.57639 8.64082 8.64 8.63992H10.1747L8.23312 11.7459C8.18782 11.8185 8.16277 11.9019 8.16057 11.9875C8.15837 12.0731 8.17909 12.1577 8.22059 12.2326C8.2621 12.3075 8.32287 12.3699 8.39661 12.4134C8.47036 12.4569 8.55439 12.4798 8.64 12.4799H11.04C11.1036 12.4808 11.1668 12.4691 11.2258 12.4454C11.2848 12.4216 11.3385 12.3864 11.3838 12.3418C11.4291 12.2971 11.4651 12.2439 11.4896 12.1852C11.5142 12.1265 11.5268 12.0635 11.5268 11.9999C11.5268 11.9363 11.5142 11.8733 11.4896 11.8146C11.4651 11.756 11.4291 11.7027 11.3838 11.6581C11.3385 11.6134 11.2848 11.5782 11.2258 11.5545C11.1668 11.5308 11.1036 11.519 11.04 11.5199H9.50531L11.4469 8.41398C11.4922 8.34134 11.5172 8.25791 11.5194 8.17232C11.5216 8.08674 11.5009 8.00213 11.4594 7.92725C11.4179 7.85237 11.3571 7.78995 11.2834 7.74647C11.2096 7.70298 11.1256 7.68 11.04 7.67992H8.64ZM14.3925 9.11336C14.3138 9.11475 14.2366 9.13549 14.1677 9.17374C14.0989 9.212 14.0406 9.2666 13.9978 9.33273C13.759 9.20158 13.4897 9.11992 13.2 9.11992C12.2778 9.11992 11.52 9.87777 11.52 10.7999C11.52 11.7221 12.2778 12.4799 13.2 12.4799C13.4894 12.4799 13.7582 12.398 13.9969 12.2671C14.0534 12.3546 14.1369 12.4213 14.2347 12.4572C14.3325 12.493 14.4393 12.4961 14.539 12.4659C14.6387 12.4358 14.7259 12.374 14.7874 12.2899C14.8489 12.2059 14.8814 12.1041 14.88 11.9999V10.7999V9.59992C14.8809 9.5357 14.8689 9.47196 14.8447 9.41247C14.8205 9.35298 14.7846 9.29895 14.7391 9.25358C14.6937 9.20821 14.6396 9.17242 14.58 9.14833C14.5205 9.12425 14.4567 9.11236 14.3925 9.11336ZM18.48 9.11992C17.5578 9.11992 16.8 9.87777 16.8 10.7999C16.8 11.7221 17.5578 12.4799 18.48 12.4799C19.4022 12.4799 20.16 11.7221 20.16 10.7999C20.16 9.87777 19.4022 9.11992 18.48 9.11992ZM13.2 10.0799C13.6033 10.0799 13.92 10.3966 13.92 10.7999C13.92 11.2033 13.6033 11.5199 13.2 11.5199C12.7967 11.5199 12.48 11.2033 12.48 10.7999C12.48 10.3966 12.7967 10.0799 13.2 10.0799ZM18.48 10.0799C18.8833 10.0799 19.2 10.3966 19.2 10.7999C19.2 11.2033 18.8833 11.5199 18.48 11.5199C18.0767 11.5199 17.76 11.2033 17.76 10.7999C17.76 10.3966 18.0767 10.0799 18.48 10.0799Z" stroke="black" stroke-width="0.2" mask="url(#path-1-outside-1_6394_301594)"></path>

                            </svg>
                        </a>
                    </div>
                </div>
                <div class="footer-path four-item">
                    <div class="item">
                        <p class="main">Chính Sách</p>
                        <div class="item-sub">
                            <a href="/privacy">Chính sách và quy&nbsp;định</a>
                            <a href="/regu">Quy chế hoạt&nbsp;động</a>
                            <a href="/personalinfo">Bảo mật thông&nbsp;tin</a>
                            <a href="/resolveconflic">Giải quyết tranh&nbsp;chấp</a>
                        </div>
                    </div>
                    <div class="item">
                        <p class="main">Tìm Hiểu Thêm</p>
                        <div class="item-sub">
                            <a href="/howitwork">Hướng dẫn chung</a>
                            <a href="/bookinghowto">Hướng dẫn đặt&nbsp;xe</a>
                            <a href="/paymenthowto">Hướng dẫn thanh&nbsp;toán</a>
                            <a href="/faqs">Hỏi và trả&nbsp;lời</a>
                        </div>
                    </div>
                    <div class="item">
                        <p class="main empty">&nbsp;</p>
                        <div class="item-sub">
                            <a href="/aboutus">Về Mioto</a>
                            <a href="/blogs">Mioto Blog</a>
                            <a href="/career">Tuyển dụng</a>
                        </div>
                    </div>
                    <div class="item unset">
                        <p class="main">Đối Tác</p>
                        <div class="item-sub">
                            <a href="/owner/register">Đăng ký chủ&nbsp;xe Mioto</a>
                            <a href="/registergps">Đăng ký GPS MITRACK&nbsp;4G</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line line-white"></div>
        <div class="m-container">
            <div class="footer-about">
                <div class="footer-info empty">
                    <div class="phone-mail">
                        <a class="logo-government" target="_blank" href="http://online.gov.vn/Home/WebDetails/98465">
                            <img loading="lazy" src="~/Content/img/bocongthuong.40599f29.png">
                        </a>
                    </div>
                </div>
                <div class="footer-path d-flex-align-center two-item">
                    <div class="item">
                        <div class="item-sub">
                            <p>Phương thức thanh toán</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="payment">
                            <img loading="lazy" src="~/Content/img/momo.png">
                            <img loading="lazy" src="~/Content/img/vnpay.780689d6.png">
                            <img loading="lazy" src="~/Content/img/alepay.bb769e5d.png">
                            <img loading="lazy" src="~/Content/img/visa.png">
                            <img loading="lazy" src="~/Content/img/zalo.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>