<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/mystyle.css" rel="stylesheet" />
    <link href="~/Content/slide.css" rel="stylesheet" />
    <link href="~/Content/buttononimage.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,400&family=Poppins:wght@100;300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="head-top">
        <div class="logo">
            <a>
                <img src="~/Content/images/loge-headtop3.jpg" style="height:50px; width:100px">
            </a>
            <a>
                <img src="~/Content/images/thuexelink.jpg" style="height:50px; width:80px">
            </a>
        </div>
        <p class="head-text">
            <span>Nơi Cung Cấp Xe Nhanh - Đẹp - Rẻ-Chất Lượng</span>
            <span style="font-size:15px">Đưa Bạn Đến Mọi Nẻo Đường</span>
        </p>
    </div>
  
    <div id="div-top">
        <div class="edittop">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Content/images/miotologo.png" style="height:100%; width:100px;float:left;margin-top:30px;margin-left:120px">
                    </a>
                </div>
                <div class="col-lg-10 col-md-2 col-sm-2 col-xs-12" style="margin-top:10px">
                    <ul class="nav navbar-nav navbar-right" style="margin-right:30px">
                        <li><a href="@Url.Action("Index", "Home")"> <b style="color:black">Trang chủ</b></a></li>
                        <li><a href="@Url.Action("Index", "Product")"><b style="color:black">Xem xe</b></a></li>
                        <li><a href="#3"><b style="color:black">Liên hệ</b></a></li>
                        <li style="margin-top:14px">|</li>
                        @if (Session["IDCus"] != null)
                        {
                            <li>
                                <a href="@Url.Action("Logout", "Login")"> <span class="glyphicon glyphicon-user" style="color:black"></span><b style="color:black">&nbsp Đăng xuất</b></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("Register", "Login")"><span class="glyphicon glyphicon-user" style="color:black"></span><b style="color:black">&nbsp Đăng ký</b></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Authen", "Login")" class="double"><span class="glyphicon glyphicon-log-in" style="color:black"></span> <b style="color:black">&nbsp Đăng Nhập</b></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div id="div-top-end"></div>

    <div id="div-quangcao">
        <div class="container">
            <img src="~/Content/images/hanhtrinh.jpg" style="height:700px; width:80%;margin-left:10%">
            <button class="btn">
                @*<a href="@Url.Action("Index", "Product")" >
                        <b>Trải Nghiệm Ngay</b>
                    </a>*@
            </button>
            <div class="centered">
                <span>
                    Chúng Tôi Sẽ Cùng Bạn
                </span>
                <br />
                <span>
                    &nbsp  Đến Mọi Hành Trình
                </span>
            </div>
        </div>
    </div>


    <div id="div-slide-khuyenmai" style="text-align:center">
        <span><b style="color:black;font-size:40px">Chương Trình Khuyến Mãi</b></span> <br />
        <span style="font-size:30px">Nhiều deal không thể bỏ lỡ</span>
    </div>

    <div class="container body-content">
        <div id="div-main-slide">
            <div id="div-slide" style="margin-left:25%">
                <div class="slideshow-container">
                    <div class="mySlides1">
                        <img src="~/Content/images/slide1.jpg" style="width:100%;height:350px">
                    </div>

                    <div class="mySlides1">
                        <img src="~/Content/images/slide2.jpg" style="width:100%;height:350px">
                    </div>
                    <div class="mySlides1">
                        <img src="~/Content/images/slide3.jpg" style="width:100%;height:350px">
                    </div>

                    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                </div>
                <script src="~/Scripts/slide.js">

                </script>
            </div>
        </div>
        <div class="container body-content">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-10">
                    @RenderBody()
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>
    </div>
    <div id="div-footer">
        <div class="row">
            <div class="col-sm-4">
                <div id="list-store">
                    <h4 style="text-align:center; color:aliceblue"><b>Các chi nhánh thuê xe</b></h4>
                    <div id="format-address">
                        <ul>
                            <li>
                                <img src="~/Content/images/address.png" id="address">
                                <span id="address-span"><b>TP.HCM - Quận 1:</b> 180 Trần Hưng Đạo P. Nguyễn Cư Trinh</span>
                            </li>
                            <li>
                                <img src="~/Content/images/address.png" id="address">
                                <span id="address-span"><b>TP.HCM - Quận 1:</b> 37 Lý Tự Trọng, P. Bến Nghé</span>
                            </li>
                            <li>
                                <img src="~/Content/images/address.png" id="address">
                                <span id="address-span"><b>TP.HCM - Quận 2:</b> 16 Quốc Hương, P.Thảo Điền</span>
                            </li>
                            <li>
                                <img src="~/Content/images/address.png" id="address">
                                <span id="address-span"><b>TP.HCM - Quận 7:</b> 103A Nguyễn Thị Thập, P. Tân Phú</span>
                            </li>
                            <li>
                                <img src="~/Content/images/address.png" id="address">
                                <span id="address-span"><b>TP.HCM - Quận 7:</b> 954 Nguyễn Văn Linh, P. Tân Phong</span>
                            </li>
                            <li>
                                <img src="~/Content/images/address.png" id="address">
                                <span id="address-span"><b>TP.HCM - Quận 7:</b> Lotte Mart 469 Nguyễn Hữu Thọ, P. Tân Phong</span>
                            </li>
                            <li>
                                <img src="~/Content/images/address.png" id="address">
                                <span id="address-span"><b>TP.HCM - Quận 10:</b> 235-241 Nguyễn Tri Phương, P. 5</span>
                            </li>
                            <li>
                                <img src="~/Content/images/address.png" id="address">
                                <span id="address-span"><b>TP.HCM - Quận 11:</b> 94 Hòa Bình, P. 5</span>
                            </li>
                            <li>
                                <img src="~/Content/images/address.png" id="address">
                                <span id="address-span"><b>TP.HCM - Quận Gò Vấp:</b> 1031 Phan Văn Trị, P.10</span>
                            </li>
                            <li>
                                <img src="~/Content/images/address.png" id="address">
                                <span id="address-span"><b>TP.HCM - Quận Gò Vấp:</b> Lotte Mart 242 Nguyễn Văn Lượng, P.10</span>
                            </li>
                            <li>
                                <img src="~/Content/images/address.png" id="address">
                                <span id="address-span"><b>TP.HCM - Quận Tân Phú:</b> 367 Tân Sơn Nhì, P.Tân Thành</span>
                            </li>
                            <li>
                                <img src="~/Content/images/address.png" id="address">
                                <span id="address-span"><b>HÀ NỘI - Quận Tây Hồ:</b> 38 An Dương Vương, Phú Thượng, Tây Hồ</span>
                            </li>
                        </ul>
                    </div>
                    <div id="view-address">
                        <a href="#">
                            <div style="text-align: center; color: orangered;">
                                <b>Xem thêm các địa chỉ khác</b>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div style="text-align: left; color: aliceblue">
                    <h4>DANH MỤC</h4>
                    <ul class="a">
                        <li style="list-style-type: circle">Trang Chủ</li>
                        <li style="list-style-type: circle">Thuê ngay</li>
                        <li style="list-style-type: circle">Khuyến Mãi</li>
                        <li style="list-style-type: circle">Tuyển dụng</li>
                        <li style="list-style-type: circle">Liên hệ</li>
                        <li style="list-style-type: circle">Giới thiệu</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div style="text-align: left; color: aliceblue">
                    <h4 style="margin-top:10px">CHĂM SÓC KHÁCH HÀNG</h4>
                    <ul class="a">
                        <li style="list-style-type: circle;">Hoàn tất thủ tục trong 15 phút</li>
                        <li style="list-style-type: circle">Chính sách nhanh - tiện</li>
                        <li style="list-style-type: circle">Chính sách về bảo mật thông tin</li>
                        <li style="list-style-type: circle">Chính sách khách hàng thân thiết</li>
                        <li style="list-style-type: circle">Phương thức thanh toán</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div style="text-align:left ;color: aliceblue">
                    <h4>KẾT NỐI VỚI CHÚNG TÔI NGAY</h4>
                </div>
                <p>
                    <a href="#">
                        <img src="~/Content/images/thuexelink.jpg" style="width:300px;height:300px;float:left">
                    </a>
                </p>

            </div>
        </div>
    </div>

</body>
</html>
