@model IEnumerable<DoAnCnpm.Models.Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Role", FormMethod.Get))
{
    <input type="text" name="_name" />
    <input type="submit" name="Search" />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
