@model DoAnCnpm.Models.Admin

@{
    ViewBag.Title = "RegisterAdmin";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

<h2>RegisterUser</h2>
@using (Html.BeginForm("RegisterAdmin", "Admin", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()

    if (ViewBag.ErrorRegister != null)
    {
        <p>@ViewBag.ErrorRegister</p>
    }

    <p>@Html.LabelFor(model => model.Username)</p>
    <p>@Html.EditorFor(model => model.Username)</p>
    <p>@Html.ValidationMessageFor(model => model.Username)</p>

    <p>@Html.LabelFor(model => model.UserRoleMappings)</p>
    <p>@Html.EditorFor(model => model.UserRoleMappings)</p>
    <p>@Html.ValidationMessageFor(model => model.UserRoleMappings)</p>


    <p>@Html.LabelFor(model => model.Password)</p>
    <p>@Html.EditorFor(model => model.Password)</p>
    <p>@Html.ValidationMessageFor(model => model.Password)</p>



    <input type="submit" value="Register" />
}