@model DoAnCnpm.Models.Customer

@{
    ViewBag.Title = "Authen";
    Layout = "~/Views/Shared/Dangnhap.cshtml";
}


@using (Html.BeginForm("Authen", "Login", FormMethod.Post, new {@class="login"}))
{
    @Html.AntiForgeryToken()
    
    <div class="login-container">
        <div class="img-side">
            <div class="title">
                Welcome to <span>MIOTO</span>
            </div>

            <p class="desc">
                Nơi Cung Cấp Xe Nhanh - Đẹp - Rẻ - Chất Lượng
            </p>
        </div>

        <div class="login-side d-flex flex-column align-items-center justify-content-center">
            <h1 class="fs-3 fw-bold">
                Đăng nhập
            </h1>

            <div class="form">
                <div class="form-group">
                    @*<input type="text" placeholder="Nhập username...">*@
                    @Html.TextBoxFor(m => m.UserCus, new { @class = "user-input", placeholder = "Nhập username..." })
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                </div>

                <div class="form-group">
                    @*<input class="input-pass" type="password" placeholder="Nhập mật khẩu....">*@
                    @Html.PasswordFor(m => m.PassCus, new { type = "password", @class = "input-pass", placeholder = "Nhập mật khẩu...." })
                    <svg class="eye-pass-off eye-show" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z" />
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z" />
                    </svg>
                    <svg class="eye-pass-show eye-off" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                    </svg>
                </div>
                <label style="margin: -20px 0 0 0;" class="field-validation-error">
                    @Html.DisplayFor(m => m.LoginErrorMessage)
                </label>
            </div>

            <button type="submit" href="#" class="login-btn">
                Đăng nhập
            </button>

            <a class="register-link" href="@Url.Action("Register","Login")">Đăng ký</a>
            <a class="register-link" style="margin: 10px 0 0 0;" href="@Url.Action("TrangHome", "Home")">Trở về trang chủ</a>
        </div>
    </div>

}

<script>
    const eyePassShow = document.querySelector('.eye-pass-show');
    const eyePassOff = document.querySelector('.eye-pass-off');
    const inputPass = document.querySelector('.input-pass');

    eyePassOff.addEventListener('click', () => {
        const currentTypeInput = inputPass.getAttribute('type');

        const newType = (currentTypeInput === 'password') ? 'text' : 'password';

        eyePassOff.classList.add('eye-off');
        eyePassOff.classList.remove('eye-show');

        eyePassShow.classList.add('eye-show');
        eyePassShow.classList.remove('eye-off');

        inputPass.setAttribute('type', newType);
    })

    eyePassShow.addEventListener('click', () => {
        const currentTypeInput = inputPass.getAttribute('type');

        const newType = (currentTypeInput === 'password') ? 'text' : 'password';

        eyePassShow.classList.add('eye-off');
        eyePassShow.classList.remove('eye-show');

        eyePassOff.classList.add('eye-show');
        eyePassOff.classList.remove('eye-off');

        inputPass.setAttribute('type', newType);
    })
</script>




